{% extends "layout.html"%}

{% block content%}


<div class="container-fluid p-4">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Pasantias profesionales 2016 . PDVSA , Genrencia Ambiente</h1>
       
            <p class="lead">Desarrollador Web - Gerencia Ambiente , FPO division Junin</p>
        </div>
    </div>
</div>
<div class="container-fluid p-4">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Desarrollador Web - Python 2019 . Halliburton</h1>
           
                <p class="lead">Desarrollador Web -, Python Developer</p>
            </div>
        </div>
    </div>
    


{%endblock%}